@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Arbutus+Slab|Bevan|Days+One|Emblema+One|Petit+Formal+Script|Puritan|Racing+Sans+One|Ultra|VT323|Vast+Shadow');

/** { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }*/


html {
  font-size: 18px;
}
:root {
  --copyFont : font-family: -apple-system, BlinkMacSystemFont, Sergoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  --displayText : "Bevan", cursive;
  --mainText: #ffffff;
  --about : #e9b000;
  --portfolio : #e24e42;
  --personal : #008f95; 
  --contact : #eb6e80 ;
}

body * {
  font-family: var(--copyFont);
  background-color: rgb(100,100,100,0.2);
}

footer {
  color: #fff;
}

hr {
  border: none;
  color: black;
  background-color: black;
  height: 1px;
  }

main {
  padding: 0;
  /*font-size: 1rem;*/
}

.svgContainer {
  display: flex;
  justify-content: center;
}

#aboutBubble {
  position: relative;

  right: 2vw;
  top: -6vw;
}
#portfolioBubble {
  position: relative;
  top: -6vw;
  left: 2vw;
  transform: scale(-1,1);
}

#svg4649 {
  height: 45vw;
}

.landingSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#name p {
  font-family: 'Bevan', cursive;
  font-size: 12vw;
  color: black;
  text-align: center;
  padding: 0;
  margin: 0;
}

#blurb {
  font-family: serif;
  text-align: center;
  width: 70vw;
  margin-top: 2vw;
  font-size: 4vw;
  color: black;
}


header {
  font-size: 3vw;
  font-family: var(--displayText);
}

footer {
  text-align: center;
  background: black;
  /*height: 8vw;*/
  font-family: var(--displayText);
  padding: 4vw;
  color: #fff;
  font-size: 1vw;
}
#about {
  background: var(--about);
}

section {
  padding: 10vw;
  width: 80vw;
}

#portfolio {
  background: var(--portfolio);
}

#personal {
  background: var(--personal);
}

#contact {
  background: var(--contact);
}