@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Arbutus+Slab|Bevan|Days+One|Emblema+One|Petit+Formal+Script|Puritan|Racing+Sans+One|Ultra|VT323|Vast+Shadow');

/** { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }*/

:root {
  --about : #e9b000;
  --contact : #eb6e80 ;
  --copyFont : -apple-system, BlinkMacSystemFont, Sergoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  --displayText : "Bevan", cursive;
  --mainText: #ffffff;
  --personal : #008f95; 
  --portfolio : #e24e42;
}

html {
  font-size: 18px;
}

a:link {
  text-decoration: none;
}

hr {
  background-color: black;
  border: none;
  color: black;
  height: 1px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  width: 100vw;
}


section {
  font-family: var(--copyFont);
  width: 70%;
  margin: auto;
  padding: 10%
}


header {
  font-family: var(--displayText);
}

footer {
  background: black;
  color: #fff;
  font-family: var(--displayText);
  font-size: 1vw;
  text-align: center;
}


.landingSection {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.landingSection:last-child {
  align-self: flex-end;
}

.buttonBox {
  display: flex;
  height: 25vw;
  justify-content: center;
  justify-content: space-between;
  width: 80%;
} 

.buttonBox a:nth-of-type(2),
.buttonBox a:nth-of-type(3) {
  align-self: flex-end;
}

.button {
   align-items: center;
   border-radius: 100%;
   color: white;
   display: flex;
   font-family: monospace;
   font-size: 15px;
   height: 50px;
   justify-content: center;
   transition: scaleX .5s linear;
   width: 50px;
}


@keyframes pulse {
  50% {
    transform: scaleY(1.2); /* needs to work for square buttons too, so Y axis only */
  }
}

#about,    
.me {
   background-color: var(--about);
}

#portfolio,
.code {   
   background-color: var(--portfolio);
}

#personal,
.art {   
  background-color: var(--personal);
}

#contact,
.find {   
    background-color: var(--contact);
}

#face {
  width: 35vw;
}


#name {
  display: flex;
  flex-direction: column;
  color: black;
  font-family: 'Bevan', cursive;
  font-size: 12vw;
  justify-content: center;
  align-items: center;

}

#blurb {
  color: black;
  font-family: serif;
  font-size: 4vw;
  width: 70%;
  text-align: center;
}
