@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Arbutus+Slab|Bevan|Days+One|Emblema+One|Petit+Formal+Script|Puritan|Racing+Sans+One|Ultra|VT323|Vast+Shadow');

/** { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }*/

a:link {
  text-decoration: none;
}

html {
  font-size: 18px;
}
:root {
  --about : #e9b000;
  --contact : #eb6e80 ;
  --copyFont : -apple-system, BlinkMacSystemFont, Sergoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  --displayText : "Bevan", cursive;
  --mainText: #ffffff;
  --personal : #008f95; 
  --portfolio : #e24e42;
}

.buttonBox {
  display: flex;
  height: 20vw;
  justify-content: center;
  justify-content: space-between;
  margin-top: 10vw;
  width: 80vw;
} 

.buttonBox a:nth-of-type(2) {
  align-self: flex-end;
}
.buttonBox a:nth-of-type(3) {
  align-self: flex-end;
}

.me {   
   background-color: #e9b000;
}
.code {   
   background-color: #e24e42;
   align-self: flex-end;
}

.art {   
  background-color: #008f95;
}
.find {   
    background-color: #eb6e80;
}
.button {
   align-items: center;
   border-radius: 100%;
   color: white;
   display: flex;
   font-family: monospace;
   font-size: 15px;
   height: 50px;
   justify-content: center;
   width: 50px;
}
body * {
  background-color: rgb(100,100,100,0.2);
  font-family: var(--copyFont);
}

footer {
  color: #fff;
}

hr {
  background-color: black;
  border: none;
  color: black;
  height: 1px;
  }

main {
  padding: 0;
  /*font-size: 1rem;*/
}

.svgContainer {
  display: flex;
  justify-content: center;
}

#face {
  /*height: 45vw;*/
  width: 35vw;
}

.landingSection {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

section {
  font-family: var(--copyFont);
  padding: 10vw;
  width: 80vw;
}

header {
  font-family: var(--displayText);
}
footer {
  background: black;
  color: #fff;
  font-family: var(--displayText);
  font-size: 1vw;
  padding: 4vw;
  text-align: center;
}

#name p {
  color: black;
  font-family: 'Bevan', cursive;
  font-size: 12vw;
  margin: 0;
  padding: 0;
  text-align: center;
}

#blurb {
  color: black;
  font-family: serif;
  font-size: 4vw;
  margin-top: 2vw;
  text-align: center;
  width: 70vw;
}

#about {
  background: var(--about);
}

#portfolio {
  background: var(--portfolio);
}

#personal {
  background: var(--personal);
}

#contact {
  background: var(--contact);
}