
@media only screen and (max-width: 400px) {
  html {
    font-size: 18px;
  }
  main {
  background-color: lightblue;
  width: 100%;
  }

  section header {
    font-size: 1.5rem;
  }
  header {
    font-size: 2.5rem;
  }
}
