@media only screen and (min-width: 768px) {
  main {
    font-size: 1.5rem;
  }

.landingSection:last-child {
  align-self: flex-end;
}
.buttonBox {
  width: 100vw;
  height: 50px;
  position: absolute;
  bottom: 0;
} 

/*.buttonBox a:nth-of-type(2),
.buttonBox a:nth-of-type(3) {
  align-self: flex-end;
}*/

.button {
   /*align-items: center;*/
   border-radius: 0%;
   color: white;
   display: flex;
   font-family: monospace;
   font-size: 15px;
   height: 50px;
   /*justify-content: center;*/
   width: 25vw;
}

#aboutBubble {
  position: relative;

  width: 15vw;
  /*right: 2vw;*/
  top: -5vw;
}
#portfolioBubble {
  position: relative;
  top: -8vw;
  left: 2vw;
  transform: scale(-1,1);
  width: 15vw;
}

#face {
  height: 25vw;
}

  .svgContainer {
    text-align: center;
    padding: 1vw;
  }


#name p {
    font-family: 'Bevan', cursive;
    font-size: 4vw;
    color: black;
    text-align: center;
    padding: 0;
    margin: 0;
}

#blurb {
    font-family: serif;
    text-align: center;
    width: 21vw;
    /*margin-top: 2vw;*/
    font-size: 1.2vw;
    margin: 0;
  }
}
